@import url("reset.css");
@import url("root.css");
@import url("variables.css");


/* .toggle {
    display: block;
    cursor: pointer;
    font-size: 3rem;
    margin: 0 1rem 0 0;
    padding: 1rem;
}

@media screen and (min-width: 1056px) {
    .toggle {
        display: none;
    }
}

#open {
    display: block;
}

#close {
    display: none;
}

.open #open {
    display: none;
}

.open #close {
    display: block;
}

.open .menu {
    transform: translate(0);
}
.menu {
    position: absolute;
    width: 100%;
    top: 6rem;
    left: 0;
    transform: translate(0, -200%);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu_items {
    border: 2px solid black;
    border-top: none;
    padding: 1rem;
    background-color: white;
} */

html {
    background-color: var(--secondary);
}

.text {
    font-size: 1rem;
    color: var(--black);
    text-align: center;
    margin: .5rem 0 0 0;
}

/* #################### HEADER #################### */

.navbar_container {
    height: 6rem;
    width: 100%;
    background-color: var(--primary);
}

.navbar_ttl {
    position: absolute;
    max-height: 3rem;
    top: .5rem;
    left: 50%;
    transform: translate(-50%, -10%);
    color: var(--white);
    font-size: 2rem;
}

/* #################### FORMULAIRE #################### */

.form_container {
    position: absolute;
    top: 3rem;
    width: calc(100% - 1.4rem);
    border-radius: 1rem;
    border: .1px solid var(--black-trans);
    box-shadow: 5px 5px 5px var(--black-trans);
    background-color: var(--white);
    padding: 1rem;
    margin: 0 0 0 .6rem;
}

.form_title{
    text-align: center;
    margin: 0 auto .5rem auto;
    font-size: 1rem;
}

.input_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-items: center;
    align-items: center;
}

.input_field {
    width: calc(100% - .5rem);
    font-size: 1rem;
}

.input_submit {
    cursor: pointer;
    width: 25%;
    justify-self: center;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary);
    border: .1px solid var(--black-trans);
    border-radius: .25rem;
    box-shadow: 0 0 8px 2px var(--black-trans);
}

/* #################### POPIN #################### */

.popin_Success_Add {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popin_Success_Add_box {
    border: 2px solid black;
    box-shadow: 0 0 1rem 255rem var(--black-trans);
    width: 100%;
    background-color: var(--white);
    padding: 1rem;

}

.popin_Success_Add_text {
    text-align:center;
    font-size: 1rem;
    margin: .25rem;
}

.popin_Fail_Add {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popin_Fail_Add_box {
    border: 2px solid black;
    box-shadow: 0 0 1rem 255rem var(--black-trans);
    width: 100%;
    background-color: var(--white);
    padding: 1rem;

}

.popin_Fail_Add_text {
    text-align:center;
    font-size: 1rem;
    margin: .25rem;
}

.closePopInAdd {
    position: absolute;
    top: 0; 
    right: 0;
    margin: .25rem;
    font-size: 1rem;
    cursor: pointer;
}

/* #################### LISTE DES TACHES #################### */

.task {
    margin: 6rem auto 0 auto;
}

.task_container {
    border-radius: .5rem;
    border: .1px solid var(--black-trans);
    box-shadow: 5px 5px 5px var(--black-trans);
    width: calc(100% - 1.3rem);
    margin: 1rem .5rem 1rem .5rem;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}

/* .task_ttl {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
    text-align: center;
} */

.task_list {
    font-size: 1rem;
    color: black;
    list-style: none;
    text-align: center;
    margin: .5rem;
}

.task_btn {
    width: 5rem;
    color: var(--white);    
    border: none;
    border-radius: .25rem;
    background-color: var(--secondary-trans);
    box-shadow: 0 0 5px 1px var(--black-trans);
}

.task_box {
    margin: 0 .5rem 0 .5rem;
    box-shadow: 0 0 5px 1px var(--black-trans);    
}

.task_box:checked {
    margin: 0 .5rem 0 .5rem;
    color: var(--secondary-trans);
    box-shadow: 0 0 5px 1px var(--black-trans);
    background-color: var(--secondary-trans);
}
