:root {
    --primary : #3B556D;
    --secondary : #5FC2BA;
    --primary-trans : #3B556D80;
    --secondary--trans : #5FC2BA80;
    --white : #FFFFFF;
    --white-trans : #FFFFFF80;
    --black : #000000;
    --black-trans : #00000080;
}
